* {
    margin: 10px;
    padding: 10px;
  }
  
  html {
    background: rgb(185, 140, 44);
    color: rgb(0, 0, 0);
    font-family: Menlo;
  
  }
  
  .controls {
 
    text-align: center;
    top: 10px;
    max-width: 100%;
    min-width: 50%;
    margin: 0 auto;
  }
  
  .button {
    color: rgb(0, 0, 0);
    font-size: 4vw;
    margin: 10px;
    text-decoration: none;
    
  }
  
 
  
  .button:hover {
    color: white;
  }
  
  .stopwatch {
    font-size: 20vw;
    
    line-height: 100vh;
    text-align: center;
    border: 10px black solid;
  }
  
 